body,html {
  margin: 0;
  font: bold 1rem/1.4 'Open Sans', arial, sans-serif;
  background: #000;
}

/* nav video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
} */
ul {
  text-transform: uppercase;
  margin: 10px auto 0; 
  padding: 0; 
  list-style: none; 
  display: table;
  width: 70%;
  text-align: center;
}
li { 
  display: table-cell; 
  position: relative; 
  padding: 15px 0;
}
a {
  color: #fff;
  text-decoration: none;
  letter-spacing: 0.15em;
  
  display: inline-block;
  padding: 15px 20px;
  position: relative;
  max-width: 80%;
}
a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after { 
  width: 100%; 
  left: 0; 
}
header, p {
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  padding: 15px 20px;
  position: relative;
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
p {
  text-align: left;
}
#projectlist li {
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0.15em;
  padding: 5px 5px;
  position: relative;
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  transition: border 0.3s;
}
header, footer {
  max-width: 1440px; /* Define a largura máxima desejada para ambos header e footer */
  margin: 0 auto; /* Centraliza ambos na tela */
  padding: 20px; /* Adicione um preenchimento se desejar */
}
#plang {
  padding: 15px 20px;
  text-align: center;
}

#txtabout {
  width: 60vw;
  margin: 0 auto;
  text-align: center;
}

#txtabout p{
  text-transform: none;
}
#projectlist li:hover {
  border: 1px solid purple;
}
#perfil {
  border: solid 2px white;
  float: left; 
  margin-right: 20px; 
  margin-top: 20px;
  max-width: 100%;
}
#here {
  color: purple;
}
#contact {
  text-align: center;
}

@media screen and (max-height: 300px) {
	ul {
		margin-top: 40px;
	}
}
@media screen and (width: 1024px) {
  #txtabout p {
    white-space: normal;
    padding-left: 0;
    display: inline-block;
    font-size: 1/20rem;
    width: 100%;
  }
  #perfil {
    margin-left: 185px;
    margin-bottom: 10px;
  }
}
@media screen and (width: 768px) {
  #txtabout p {
    white-space: normal;
    padding-left: 0;
    display: inline-block;
    font-size: 1/20rem;
    width: 100%;
  }
  #perfil {
    margin-left: 108px;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 425px) {
  h1 {
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
  }
  #txtabout {
    margin-left: 55px;
  }
  #txtabout p {
    padding-left: 0px;
    display: inline-block;
    text-align: left;
    font-size: 12px;
    width: 100%;
    height: 100%;
  }
  #projectlist {
     font-size: 12px;
  }
  #txtcv {
    font-size: 15px;
  }
  #perfil {
    width: 150%;
    margin-bottom: 10px;
  }
  ul {
    text-transform: uppercase;
    margin: 10px auto 0; 
    padding: 0; 
    list-style: none; 
    display: inline;
    width: 70%;
    text-align: center;
  }
  li {
    font-size: 13px; 
    display: flex; 
    position: relative; 
    padding: 15px 0;
  }
}
